@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.layout {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.2);
}

.layout:nth-of-type(2) {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.text-fw {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.default-fs {
  font-size: 20px;
}

.main-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-logo {
  margin-left: 70px;
  margin-right: 28px;
  margin-bottom: -15px;
  z-index: 1;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  width: 450px;
  line-height: 24px;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigation-user {
  margin-left: auto;
  margin-right: 20px;
  width: 88px;

}

.navigation-user .navigation-link {
  margin: 0;
  padding: 0;
  min-width: 44px;
  min-height: 64px;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  display: block;
  padding: 20px 0 18px 0;
  margin-right: 17px;
  margin-left: 16px;
  color: #000000;
  text-decoration: none;
}

.nav-link-current {
  border-bottom: 2px solid #756257;
}

.search {
  background: url(/images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.favourite-items {
  position: relative;
  background-image: url(/images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.fav-items-quantity:before {
  content: '12';
  position: absolute;
  top: 11px;
  right: 3px;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
}

.nav-button {
  display: block;
  padding: 8px 24px;
  margin: 14px 70px 14px auto;
  width: 160px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-button:hover,
.nav-button:focus {
  background-color: #615048;
  outline: none;
}

.nav-button:active {
  color: rgba(255, 255, 255, 0.3);
}


.hero {
  position: relative;
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("/images/index-background.jpg");
}

.hero-logo {
  display: block;
  margin: 0 auto;
  border: none;
}

.hero::before {
  display: block;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 57px;
  background: url("/images/spacebar.svg") no-repeat center;
}

.btn {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  cursor: pointer;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.button-lh {
  line-height: 36px;
}

.title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
}

.main-title {
  margin-bottom: 25px;
}

.inner-header-title {
  margin:0;
  margin-left: 70px;
  margin-bottom: 8px;
  padding-top: 35px;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.advantages-title {
  padding-top: 69px;
  padding-bottom: 68px;
}

.advantages-description {
  margin: 0;
}

.advantages-description-special {
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  position: relative;
  width: 400px;
  text-align: center;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 103px;
  padding-bottom: 121px;
}


.white-line::before {
  content: '';
  position: absolute;
  top: 177px;
  left: 170px;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.gray-line:before {
  content: '';
  position: absolute;
  top: 189px;
  left: 170px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-color {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item-img {
  margin: 0;
  padding: 0;
  height: 384px;
}

.advantages-padding {
  padding-top: 92px;
  padding-bottom: 111px;
}

.advantages-padding2 {
  padding-top: 182px;
  padding-bottom: 81px;
}

.opacity12 {
  background-color: rgba(130, 179, 212, 0.1);
}

.opacity20 {
  background-color: rgba(130, 179, 212, 0.2);
}

.advantages-title {
  margin: 0 auto;
  width: 651px;
  text-align: center;
}

.advantages-item-title {
  margin:0;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.title-margin {
  margin-bottom: 30px;
}

.advantages-item-img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.housing {
  background-image: url(/images/advantages/housing.svg);
  background-repeat: no-repeat;
  background-position: 163px 80px;
}

.food {
  background-image: url(/images/advantages/food.svg);
  background-repeat: no-repeat;
  background-position: 163px 81px;
}

.souvenirs {
  background-image: url(/images/advantages/souvenirs.svg);
  background-repeat: no-repeat;
  background-position: 161px 78px;
}

.hotel-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotel-search-btn {
  display: block;
  margin: 0 auto;
  padding: 8px 50px;
  width: 276px;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
}

.hotel-search-btn:hover,
.hotel-search-btn:focus {
  background-color: #615048;
  outline: none;
}

.hotel-search-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.container {
  margin: 0 auto;
  padding: 96px 304px;
  width: 592px;
  text-align: center;
}

.catalog-container {
  margin: 0 auto;
  width: 1060px;
}

.subscription {
  background-image: url("/images/subscribe-background.jpg");

}

.subscription-catalog {
  background-image: none;
}

.subscription-container {
  padding: 96px 258px 103px 258px;
  width: 684px;
  color: #ffffff;
}

.subscription-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;

}

.subscription-input {
  padding: 14px;
  padding-left: 20px;
  width: 452px;
  min-height: 52px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 4px 0 0 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


.subscription-input:hover {
  background-color: #E6E6E6;
}

.subscription-input:focus {
  background-color: #E6E6E6;
  outline-color:#83B3D3;
}

.subscription-input:active {
  outline-color: #000000;
}

.subscription-button {
  width: 232px;
  min-height: 52px;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
}

.subscription-button:hover,
.subscription-button:focus{
  background-color: #68A2CA;
  outline: none;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscription-button:disabled {
  background-color: #E5E5E5;
}

.catalog-color {
  padding-top: 91px;
  color: #000000;
}

.description {
  margin-bottom: 52px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.page-footer {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 43px 43px 35px 70px;
  padding: 0;
  list-style: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.social-icon {
  padding: 13px 12px;
  color: #83B3D3;
}

.social-icon:hover,
.social-icon:focus {
  color: #68A2CA;
}

.social-icon:active {
  color: rgba(104, 162, 202, 0.3);
}

.phone {
  margin-top: 44px;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 40px;
  width: 720px;
  text-align: center;

}

.phone-link {
  color: #000000;
  text-decoration: none;
}

.phone-link:hover,
.phone-link:focus  {
  color: #756157;
}

.phone-link:active{
  color: rgba(117, 97, 87, 0.3);
}


.halogo {
  margin: 47px 70px 38px 41px;
  width: 115px;

}

.halogo-color {
  color: #000000;
}

.halogo-color:hover,
.halogo-color:focus {
  color: #756157;
}

.halogo-color:active {
  color: rgba(117, 97, 87, 0.3);
}

.inner-header {
  background-image: url("/images/catalog-background.jpg");
  background-size: cover;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 21px;
  list-style: none;
}

.breadcrumbs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.breadcrumbs-link {
  display: block;
  color: #ffffff;
}

.breadcrumbs-home {
  width: 14px;
  height: 13px;
  background-image: url(/images/breadcrumbs/breadcrumbs-home.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-arrow {
  width: 7px;
  height: 10px;
  background: url(/images/breadcrumbs/breadcrumbs-arrow.svg);
}

.catalog-hotels {
  color: #ffffff;
}

.catalog-filter-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 56px;
  width: 1060px;
}

.catalog-filter-title {
  display: block;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-top: 20px;
  margin-bottom: 33px;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  margin-bottom: 18px;
}

.filter-right {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 margin-left: 150px;
}

.filter-left {
  margin-left: 1px;
}

.catalog-filter-first {
  margin-right: 70px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control:hover,
.control:hover .control-mark {
  opacity: 60%;
}

.control-input:disabled + .control-mark {
  opacity: 30%;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
}

.round-mark {
  border-radius: 50%;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 12px;
  height: 10px;
  background: url("/images/checkmark.svg") no-repeat center;
  content: "";
}

.control-input {
  margin-right: 16px;
  width: 20px;
  height: 20px;
  border-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.control-input[type="radio"]:checked + .control-mark::before,
.control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}


.price {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  grid-row: 2/2;
  margin-bottom: 43px;
}

.price::before {
  content: 'от';
  position: absolute;
  top: 12px;
  left: 106px;
  color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.price::after {
  content: 'до';
  position: absolute;
  top: 12px;
  right: 22px;
  color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.price-item {
  position: relative;
  margin-right: 2px;
  padding: 12px 0 12px 20px;
  width: 143px;
  height: 48px;
  font: inherit;
  font-weight: 700;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.price-item::-moz-placeholder {
  color: #000000;
}

.price-item::-webkit-input-placeholder {
  color: #000000;
}

.price-item:last-child {
  margin: 0;
  border-radius: 0 4px 4px 0;
}

.price-item::-webkit-outer-spin-button,
.price-item::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.range {
  position: relative;
  width: 288px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 15px;
  width: 191px;
}

.filter-button {
  margin-bottom: 31px;
  height: 36px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter-button:last-child {
  margin-bottom: 0;
}

.filter-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-button:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.filter-button:active {
  color:rgba(255, 255, 255, 0.3);
  outline: none;
}

.filter-button:disabled {
  color:rgba(255, 255, 255, 0.1);
  outline: none;
}

.apply-btn {
  background-color: #82B3D3;
  border-radius: 4px;
}

.apply-btn:hover,
.apply-btn:focus{
  background-color: #68A2CA;
  outline: none;
}

.apply-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.apply-btn:disabled {
  background-color: #E5E5E5;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
}

.sort-title {
  margin: 0;
  padding-top: 6px;
  width: 338px;
  margin-right: 200px;
  text-transform: uppercase;
}

.select-control {
  padding: 12px 21px 12px 18px;
  margin-right: 70px;
  width: 292px;
  font: inherit;
  background-image: url("/images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  outline: 2px solid #68A2CA;
  border: 2px solid #ffffff;
}

.select-control:active {
  outline: none;
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
}

.view-item {
  display: block;
  margin-right: 8px;
  width: 46px;
  height: 45px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-item:last-child {
  margin-right: 0;
}

.view-item:hover {
  border-color: #000000;
}

.view-item:focus {
  border-color:#ffffff;
  outline: 2px solid #68A2CA;
}

.view-item:active {
  border-color: #000000;
}

.view-item-grid {
  background-image: url(/images/view-icons/view-icon-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}
.view-item-cards {
  background-image: url(/images/view-icons/view-icon-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.view-item-list {
  background-image: url(/images/view-icons/view-icon-3.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.view-item-current {
  border-color: #000000;
}

.hotel-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 20px 340px 20px 340px;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-cards {
  margin-bottom: 80px;
}

.hotel-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin-right: 20px;
  width: 300px;
  outline: 1px solid #E6E6E6;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 20px 140px;
  grid-template-columns: repeat(2, 140px);
  gap: 20px;
  row-gap: 16px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  margin: 16px 0;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-price {
  margin: 0;
  padding: 0;
  text-align: right;
  font-weight: 400;
}

.hotel-card-image {
  display: block;
  max-width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.hotel-card-type {
  margin: 0;
  padding: 0;
  text-align: left;
}

.details {
  padding: 8px 26px;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
}

.details:hover,
.details:focus {
  background-color: #615048;
  outline: none;
}

.details:active {
  color: rgba(255, 255, 255, 0.3);
}

.favourites {
  color: #ffffff;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.favourites:hover,
.favourites:focus {
  background-color: #68A2CA;
  outline: none;
}

.favourites:active {
  color: rgba(255, 255, 255, 0.3);
}

.favourites:disabled {
  background-color: #E5E5E5;
}

.favourites-current {
  background-color: #7DB54F;
}

.favourites-current:hover,
.favourites-current:focus {
  background-color: #6C9E42;
  outline: none;
}

.favourites-current:active {
  color: rgba(255, 255, 255, 0.3);
}

.favourites-current:disabled {
  background-color: #E5E5E5;
}

.rating {
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.rating-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.rating-star {
  width: 18px;
  margin-right: 6px;
  background-image: url(/images/rating-star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 17px;
}

.pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px 0 60px 0;
  padding: 0;
  width: 1060px;
  list-style: none;
}

.pagination::before {
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
  width: 1060px;
  height: 1px;
  background-color: #E6E6E6;
}

.pagination-item {
  margin-right: 8px;
  margin-bottom: 5px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #68A2CA;
}

.pagination-item:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  color: #ffffff;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-next {
  color: #000000;
  background-color: #ffffff;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 20;
}

.modal {
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-search {
  position: relative;
  width: 577px;
  -webkit-box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.2);
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  padding: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button::before {
  content: '';
  position: absolute;
  top: 19px;
  right: 19px;
  width: 14px;
  height: 14px;
  background: url("/images/close.svg") no-repeat center;
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-main-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-content::before {
  content: '';
  position: absolute;
  top: 180px;
  right: 92px;
  width: 16px;
  height: 15px;
  background: url("/images/calendar.svg") no-repeat center;
  opacity: 0.3;
}

.modal-content::after {
  content: '';
  position: absolute;
  top: 276px;
  right: 92px;
  width: 16px;
  height: 15px;
  background: url("/images/calendar.svg") no-repeat center;
  opacity: 0.3;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-title {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 18px;
  font-family: "PT Sans", sans-serif;
  font-size:  20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}


.modal-title:first-child {
  margin-right: 24px;
}

.modal-title.adults {
  margin-right: 46px;
}

.modal-title.children {
  margin-right: 82px;
  margin-left: 88px;
}

.modal-title-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field {
  width: 440px;
  padding: 12px 20px 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-size:  18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


.field::-moz-placeholder {
  color: #000000;
}

.field::-webkit-input-placeholder {
  color: #000000;
}

.small-field {
  padding-left: 0;
  padding-right: 0;
  width: 31px;
  text-align: center;
  line-height: 20px;
  border-radius: 0;
}

.departure-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.departure-field:hover,
.departure-field:focus {
  background-color: #E6E6E6;
}

.departure-field:focus {
  outline: 3px solid #83B3D3;
}

.departure-field:active {
  outline: 2px solid #000000;
  background-color: #F2F2F2;
}

.arrival-field:hover,
.arrival-field:focus {
  background-color: #E6E6E6;
}

.arrival-field:focus {
  outline: 3px solid #83B3D3;
}

.arrival-field:active {
  outline: 2px solid #000000;
  background-color: #F2F2F2;
}

.modal-btn {
  height: 60px;
  font-family: "PT Sans", sans-serif;
  font-size:  20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #83B3D3;
  border: none;
  border-radius: 10px;
}

.modal-btn:hover,
.modal-btn:focus{
  background-color: #68A2CA;
  outline: none;
}

.modal-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal-btn:disabled {
  background-color: #E5E5E5;
}

.tooltip {
  position: absolute;
  top: 1px;
  right: 46px;
  margin-top: 8px;
  margin-left: 2px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  color: #83B3D3;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-text {
  position: absolute;
  top: 41px;
  right: -115px;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 19px 18px 24px 20px;
  border-radius: 10px;
  width: 256px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::before {
  content: '';
  position: absolute;
  top: -9px;
  right: 119px;
  background: url("/images/triangle.svg");
  width: 19px;
  height: 9px;
}

.input-btn {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 100%;
  border: none;
  background-color: #F2F2F2;
}

.add-btn {
  border-radius: 0 4px 4px 0;
}

.add-btn:last-child {
  margin: 0;
}

.remove-btn {
  border-radius: 4px 0 0 4px;
}


.remove-btn::before {
  content: '';
  width: 14px;
  height: 2px;
  position: absolute;
  background-color: rgba(117, 97, 87, 0.3);
  top: 23px;
  left: 13px;
}

.remove-btn:hover::before {
  background-color: #000000;
}

.modal-caption {
  margin-top: 4px;
  margin-bottom: 24px;
  margin-left: 157px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.error {
  color: #FF5757;
}

.guests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.input-buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.remove-btn:focus {
  outline: 3px solid #82B3D3;
  outline-offset: -11px;
}

.add-btn:focus {
  outline: 3px solid #82B3D3;
  outline-offset: -11px;
}

.add-btn::before {
  content: '';
  width: 14px;
  height: 2px;
  position: absolute;
  background-color: rgba(117, 97, 87, 0.3);
  top: 23px;
  right: 13px;
}

.add-btn::after {
  content: '';
  width: 14px;
  height: 2px;
  position: absolute;
  background-color: rgba(117, 97, 87, 0.3);
  top: 23px;
  right: 13px;
  rotate: 90deg;
}

.add-btn:hover::after,
.add-btn:hover::before {
  background-color: #000000;
}

.add-btn:focus::after,
.add-btn:focus::before {
  background-color: #000000;
}

.remove-btn:active::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.add-btn:active::after,
.add-btn:active::before{
  background-color: rgba(0, 0, 0, 0.3);
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
